body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #858585;
  color: #222;
}

.linha-destaque {
  background-color: #fffacd !important;
}

table {
  background-color: #666464;
  border-radius: 6px;
  overflow: hidden;
}

table > thead ,
.ant-table-thead > tr > th {
  background-color: #474747;
  font-weight: 600;
  color: #111;
}



.ant-btn,
button {
  border-radius: 6px;
  font-weight: 500;
}

input[type="checkbox"],
.ant-checkbox-inner {
  transform: scale(1.2);
  margin-right: 6px;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: #1f1f1f;
}
